.wrapper {
  border: 5px solid green;
  display: flex;
  align-items: stretch;
}
.custom-sidebar {
border: 5px solid black;
min-height: 100vh;
max-width: 40%;
min-width:  40%;
overflow: hidden;
}
.custom-main {
border: 5px solid orange;
}
