body {
  background-color: #F0F3BD;
}
.wrapper {
  background-color: #02C39A;
  color: #F0F3BD;
  font-family: sans-serif;
  height: 100vh;
  text-align: center;
}
.logo {
  /*margin-top: 4%;*/
}
/*FIRST SLIDE*/
h1 {
  font-size: 5em;
  line-height: 2;
}
.intro-text {
  font-size: 2em;
  margin-top: -5%;
}
button {
  background-color: #F0F3BD;
  border: none;
  font-size: 1.5em;
  margin: .5%;
  padding: 1% 3%;
}
.social-media-icons {
  margin: 8%;
}
.social-media-icons li{
  list-style-type: none;
}
.github-icon {
  height: 50px;
}
/*SECOND SLIDE*/
.second-slide {
  border: 1px solid ORANGE;
  overflow: auto;
}
.slide-title {
  margin: 0 5%;
  overflow: auto;
}
.slide-img {
  background-color: gray;
  float: left;
  margin: 0 5% 5% 5%;
  width: 400px;
  height: 600px;
}
.slide-info {
  border: 1px solid pink;
  height: 600px;
  width: 700px;
  float: left;
}
.progress-bar {
  border: 1px solid blue;
  float: right;
  height: 600px;
  margin-right: 5%;
}
.progress-bar ul {
  position: relative;
top: 50%;
transform: translateY(-50%);
}
.progress-bar li {
  list-style: none;
  margin: 25% auto;


}
.progress {
  border: 2px solid black;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
